.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--spacing-6);
}

.title {
  max-width: var(--title-width);
  color: var(--color-text-neutral-primary);
}

@media (max-width: 767px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-4);
  }

  .title {
    font-size: var(--font-size-xl);
    line-height: var(--leading-7);
  }
}
